<!DOCTYPE html>
<html>
<head>
  <title>All Notes</title>
</head>
<body>
  <h2>Uploaded Notes</h2>

  <div id="files"></div>

  <script>
    fetch('/files')
      .then(res => res.json())
      .then(data => {
        const container = document.getElementById('files');
        data.forEach(file => {
          const link = document.createElement('a');
          link.href = '/uploads/' + file;
          link.innerText = file;
          link.target = "_blank";

          container.appendChild(link);
          container.appendChild(document.createElement('br'));
        });
      });
  </script>

  <br>
  <a href="/">Back to Home</a>
</body>
</html>